<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/main.css">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/011169ab34.js" crossorigin="anonymous"></script>
  <title>HomeStay</title>
</head>
<body>
  <nav class="navbar navbar-expand-md navbar-dark mb-2" style="background-color: rgb(28, 147, 168); color: green;">
    <div class="container-fluid">
    <a class="navbar-brand" href="/"><i class="fas fa-campground "></i>HomeStay</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="nav navbar-nav mr-auto">
        <a class="nav-item nav-link <%= typeof page !== 'undefined' && page === 'accomodations' ? 'active' : '' %>" href="/accomodations"><i class="fas fa-home"></i> Home</a>
      </div>
      <div class="nav navbar-nav ml-auto mr-2">
        <% if(currentUser == null) { %> 
          <a class="nav-item nav-link mr-2 <%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>" href="/login">Login <i class="fas fa-sign-in-alt"></i></a>
          <a class="nav-item nav-link mr-2 <%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>" href="/register">SignUp <i class="fa fa-user-plus" aria-hidden="true"></i> </a>
        <% } else { %> 
          <% if(currentUser.isAdmin) { %>
          <div class="nav-item nav-link active"> Admin</div> 
          <% } %> 
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Notifications <span class="badge badge-light" style="border-radius: 50%;"><%= notifications.length %></span>
            </a>
            <% if(notifications && notifications.length > 0) { %>
              <script>$('.dropdown-toggle').addClass('active');</script> 
            <% } %>  
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <% notifications.forEach(function(notification) { %>                          
                <a class="dropdown-item" href="/user/notifications/<%= notification.id %>">
                  <% if(notification.stayName === null) { %>
                    <%= notification.username %> started following you
                  <% } else { %> 
                    <%= notification.username %> created a new accomodation
                  <% } %> 
                </a>
              <% }); %>
              <% if(notifications.length === 0) { %>
                <a class="dropdown-item disabled" href="#">No new notification</a>
              <% } %>  
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/user/notifications/all">View past notifications</a>
            </div>
          </li>
          <a class="nav-item nav-link mr-2" href="/user/<%= currentUser.id %>" style="color: white">Signed in as <em><%= currentUser.username %></em> <i class="fas fa-user-circle"></i></a> 
          <a class="nav-item nav-link mr-2" href="/logout">Logout <i class="fas fa-sign-out-alt"></i></a>
        <% } %> 
      </div>
    </div>
  </div>
  </nav>

  <div class="container">
    <% if(error && error.length > 0) { %> 
      <div class="alert alert-danger" role="alert">
        <%= error %> 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% } %> 
    <% if(success && success.length > 0) { %> 
      <div class="alert alert-success" role="alert">
        <%= success %> 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% } %> 
  </div>

  <div class="container">