<%- include ("../partials/header") %> 

  <div class="row">
    <div class="col-md-3 mb-3 mb-md-0">
      <p class="lead"><strong>HomeStay</strong></p>
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action active">Info 1</a>
        <a href="#" class="list-group-item list-group-item-action">Info 2</a>
        <a href="#" class="list-group-item list-group-item-action">Info 3</a>
      </div>
      <div id='map' class="mt-3">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d28836.943917543424!2d81.87860289999999!3d25.384116449999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1597244678967!5m2!1sen!2sin" width="100%" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>
    </div>
    <div class="col-md-9">
      <div class="card content-card">
        <img class="card-img-top" src="<%= location.image %>" alt="image">
        <div class="card-body">
          <div class="float-right"><strong> <i class="fas fa-rupee-sign    "></i> <%= location.price %>/night</strong> </div>
          <h4 class="card-title"><a href="#"><%= location.name %></a></h4>
          <p class="card-text"><%= location.description %></p>
          <p class="float-right mr-5">
            <em>&dash; Submitted by <a href="/user/<%= location.author.id %>"><%= location.author.username %></a>, <%= moment(location.createdAt).fromNow() %></em>
          </p>
          <% if(currentUser && (location.author.id.equals(currentUser._id) || currentUser.isAdmin)) { %> 
            <a class="btn btn-warning btn-sm" href="/accomodations/<%= location._id %>/edit">Edit</a>
            <form class="delete-form" action="/accomodations/<%= location._id %>?_method=DELETE" method="post">
              <button class="btn btn-danger btn-sm">Delete</button>
            </form>
          <% } %> 
        </div>
      </div>
      <div class="card bg-light my-3">
        <div class="mt-3 mr-3">
          <a class="btn btn-success float-right" href="/accomodations/<%= location._id %>/comments/new">Leave a Review</a>
        </div><hr>
        <div class="card-body">
          <% for (const comment of location.comments) {%> 
            <div class="row mb-3">
              <div class="col-md-12">                
                <strong><%= comment.author.username %></strong>
                <span class="time float-right"><%= moment(comment.createdAt).fromNow() %></span> 
                <p class="card-text">
                  <%= comment.text %>
                </p>
                <% if(currentUser && (comment.author.id.equals(currentUser._id) || currentUser.isAdmin)) { %> 
                  <a 
                    class="btn btn-sm btn-warning"  
                    href="/accomodations/<%= location._id %>/comments/<%= comment._id %>/edit">Edit
                  <a>
                  <form class="delete-form" action="/accomodations/<%= location._id %>/comments/<%= comment._id %>?_method=DELETE" method="post">
                    <input type="submit" class="btn btn-sm btn-danger" value="Delete">
                  </form>
                <% } %> 
              </div>  
            </div>
          <% } %> 
        </div>
      </div>
    </div>
  </div>
  <!-- <script>
    function initMap() {
      var lat = location.lat;
      var lng = location.lng;
      var center = {lat: lat, lng: lng };
      var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 8,
          center: center,
          scrollwheel: false
      });
      var contentString = `
        <strong><%#= location.name %><br />
        <%#= location.location %></strong>
        <p><%#= location.description %></p>
      `
      var infowindow = new google.maps.InfoWindow({
        content: contentString
      });
      var marker = new google.maps.Marker({
          position: center,
          map: map
      });
      marker.addListener('click', function() {
        infowindow.open(map, marker);
      });
    }
  </script> -->
  <!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCD_GMVIhOjWDmJZ1Tmgt3OY-k2SfEyPc&callback=initMap"></script> -->
  
  <%- include ("../partials/footer") %> 
